body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    color: #40524E;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0;
    font-family: 'Sacramento', cursive;
    color:  #66BFBE;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: 500;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

hr{
    border-style: dotted none none;
    width: 4%;
    border-width: 7px;
    border-color: #DBE5E5;
}

.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 102px;
    /* margin-bottom: 50px; */
}

.my-pic{
    width: 40%;
}

.skills {
    margin: 100px auto;
}

.bottom-container {

}

.pro {
    text-decoration: underline;
}

.profile{
    width: 35%;
    margin: 100px auto;
    line-height: 2;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.contact-me{
    margin: 100px auto;
    width: 50%;
    line-height: 2;
}

.chillies-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    margin: 50px;
    border-radius: 10px;
    /* height: 50px; */
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    width: 200px;
    font-size: 23px;
    font-weight: 500;
    /* padding: 5px; */
    background-color: #11ADB3;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px;
}

.footer-link{
    color:#11999E;
    display: inline-block;
    margin : 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
}

#top-cloud {
    position: absolute;
    right: 400px;
    top: 50px;
}

#bottom-cloud {
    position: absolute;
    left: 400px;
    bottom: 300px;
}

#copyright{
    color: #EAF6F6;
    font-size: 15px;
    /* margin: 50px; */
}
